{% extends 'base.html' %}

{% block css %}{% endblock %}

{% block body %}
<div class="container">
      <div class="row">
            <div class="col-md-12">
                  <h1>Ai personal Trainer</h1>
                  <p>AI Personal Trainer
            </div>
            <a href="/bicep" class="col-md-4" >
                  <img src="/static/images/bicep_curl.png" class="img-fluid" alt="">
                  <div>
                        Open Bicep Curl Count Cam
                  </div>
            </a>
            <a href="/squat" class="col-md-4">
                  <img src="/static/images/squats.JPG" class="img-fluid" alt="">
                  <div>
                        Open Squat Count Cam
                  </div>
            </a>
            <a href="/squat" class="col-md-4">
                  <img src="/static/images/shoulder.jpg" class="img-fluid" alt="">
                  <div>
                        Open Shoulder Press Count Cam
                  </div>
            </a>
            <a href="/squat" class="col-md-4">
                  <img src="/static/images/back.jpg" class="img-fluid" alt="">
                  <div>
                        Open Back Rowing Count Cam
                  </div>
            </a>
            <a href="/squat" class="col-md-4">
                  <img src="/static/images/triceps.jpg" class="img-fluid" alt="">
                  <div>
                        Open Tricep Extension Count Cam
                  </div>
            </a>
            <a href="/squat" class="col-md-4">
                  <img src="/static/images/chest.jpg" class="img-fluid" alt="">
                  <div>
                        Cable Flyes Count Cam
                  </div>
            </a>
      </div>
{% endblock %}

{% block js %}{% endblock %}